.portfolio-container{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
    /* column-gap: 15px;
    row-gap: 15px; */
    justify-items: center;
  /* justify-content: space-around;     */


}
.portfolio-item {

    display: block;
    width: 100%;
    margin: 0px;
    align-self: stretch;

}
.img01{
      grid-column: 2 ;


}
.img02{
          grid-column: 4 ;

}
.img03{
          grid-column: 3 ;

}
.img04{
          grid-column: 1;

}
.img05{
          grid-column: 4;

    
}

@media (max-width: 990px) {

    .portfolio-container{
        grid-template-columns:1fr 1fr 1fr 1fr ;
        grid-template-rows:1fr 1fr 1fr 1fr ;



}
    .portfolio-item {

    }


.img01{
grid-area: 1/1/3/3;

}
.img02{
grid-area: 0/3/4/4;}
.img03{
grid-area: 2/3/3/3;
}
.img04{
grid-area: 3/2/3/3;

}
.img05 {
grid-area:3/3/5/5 !important; 

}
.portfolio-item {
    display: block;
}

}

@media (max-width: 767px) {

    .portfolio-container{
    grid-template-columns:100% ;
    column-gap: 10px;
     row-gap: 15px;

}
    .portfolio-item {
        width: 100%;
        
        
    }




.img01,
.img02,
.img03,
.img04,
.img05{
      grid-column: 1;
    
}
}